@import './loader';
@import './variables';

* {
  @include resetBody;
}

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}

@import './navigation';

@import './part1';
@import './part2';
@import './part3';
@import './part4';

@import './button';
@import './quickphone';

@import './mediaqueries';

// .part1 {
//   height: 100vh;
//   color: orange;
// }

.page-build {
  position: absolute;
  color: #fff;
  background-color: #333;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.page-build-active {
  position: absolute;
  color: #fff;
  background-color: #333;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 380px) {
  .page-build-active {
    font-size: 2.5rem;
  }
}

// Scrollbar Start

body::-webkit-scrollbar {
  width: 0.6rem;
}

body::-webkit-scrollbar-track {
  background-color: black;
}

body::-webkit-scrollbar-thumb {
  border-radius: 50px;
  background-color: red;
  // box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

// Scrollbar End
